<div ng-include="'components/navbar/navbar.html'"></div>



<h3>Change PIN</h3>






<form class="form" name="settingForm" ng-submit="changePassword(settingForm)" novalidate>

  <div class="form-group form-group-input">
    <md-input-container>
      <label>Current PIN</label>
      <input name="password" type="number" ng-model="user.oldPassword" required minlength="1">
      <div ng-messages="settingForm.password.$error" ng-show="form.$submitted && form.email.$invalid">
        <div class="message" ng-message="required">This is required.</div>
      </div>
    </md-input-container>
  </div>

  <div class="form-group form-group-input">
    <md-input-container>
      <label>New PIN</label>
      <input name="newPassword" type="number" ng-model="user.newPassword" required minlength="1">
      <div ng-messages="settingForm.password.$error" ng-show="form.$submitted && form.email.$invalid">
        <div class="message" ng-message="required">This is required.</div>
      </div>
    </md-input-container>
  </div>

  <p class="help-block"> {{ message }} </p>

  <md-button class="md-button md-raised" type="submit">Save changes</md-button>

</form>





