



.QuickaccessCtrl {


  .pindigit {
    width: 30%;
  }
  .pindigit-last {
    margin-left: 30%;
  }

  .pindisplay {
    text-align: center;
    min-height: 60px;
  }

  .pininput {
    button {
      height: 50px;
    }
  }

}
