



.QuickaccessCtrl {


  .pincontainer {
    height: 100%;

    .row {

      &.pindisplay {
        margin-top: 40px;
        margin-bottom: 60px;
      }

      &.pininput-container {

        @media screen and (min-width: 500px) {
          width: 400px;

          position: relative;
          left: 50%;

          margin-left: -200px;
        }


        width: 100%;
      }

    }
  }


  .pintitle {
    width: 100%;

    button {
      width: 100%
    }
  }


  .pindisplay {

    .pindisplay-circle {
      .transition(transform 500ms ease);

      padding: 0;
      margin: 0 5px;
      display: inline-block;

      &.pindisplay-circle-full {
        .pindisplay-inner {
          .transform(scale(1));
        }

      }

      .pindisplay-outter {
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        border: 5px solid @button-dark;
      }

      .pindisplay-inner {

        .transition(transform 200ms ease);
        .transform(scale(0));

        display: block;
        position: relative;

        top: -17px;
        left: 3px;

        width: 14px;
        height: 14px;
        border-radius: 100%;
        background-color: @button-dark;
      }

    }



    &.success {
      .pindisplay-circle {
        .transform(scale(0));
      }

    }

    &.error {
      animation: wobble 500ms both ease;
      .pindisplay-outter {
        border-color: @danger-text;
      }
      .pindisplay-inner {
        background-color: @danger-text;
      }

    }

    text-align: center;
    font-size: 1.2em;
  }


  .pininput {

    width: 100%;

    .pinclear {
      opacity: 0;
      .transition(all 200ms ease);
      &.active {
        opacity: 1;
      }
    }


    .pinforgot {
      font-size: 0.9em;
    }

    button {

      .transform(translateZ(0));

      padding: 0;
      margin: 0 -1px;
      height: 70px;
      width: 33%;
      font-size: 1.2em;

    }
  }

}
