

//@page-transition-duration: 1000ms;
//@page-transition-duration: 500ms;
//@page-transition-duration: 20000ms;
@page-transition-duration: 700ms;
@page-transition-duration-long: 800ms;

@z-layer-1: 111;
@z-layer-2: 222;
@z-layer-3: 333;
@z-layer-4: 444;
@z-layer-5: 555;


//TODO stagger animations - for view to delay loa


.mainview {
  .transition(transform @page-transition-duration ease opacity @page-transition-duration ease z-index @page-transition-duration ease);

  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

  &.LoginCtrl {
    z-index: @z-layer-1 !important;
  }

  &.QuickaccessCtrl {
    z-index: @z-layer-2 !important;
  }

  &.MainCtrl {
    z-index: @z-layer-3 !important;
  }

  &.AccountsCtrl,
  &.SettingsCtrl {
    z-index: @z-layer-4 !important;
  }

  &.AccountdetailCtrl {
    z-index: @z-layer-5 !important;
  }



}


body.transitionFromaccountdetail.transitionTomain {
  .mainview.ng-enter { animation: slideInLeftPartial @page-transition-duration both ease; }
  .mainview.ng-leave { animation: slideOutRight @page-transition-duration both ease; }
}

body.transitionFromaccounts.transitionTomain {
  .mainview.ng-enter { animation: slideInLeftPartial @page-transition-duration both ease; }
  .mainview.ng-leave { animation: slideOutRight @page-transition-duration both ease; }
}
body.transitionToaccounts.transitionFrommain {
  .mainview.ng-leave { animation: slideOutLeftPartial @page-transition-duration both ease; }
  .mainview.ng-enter { animation: slideInRightStacked @page-transition-duration both ease; }
}

body.transitionToaccounts.transitionFromaccountdetail {
  .mainview.ng-enter { animation: slideInLeftPartial @page-transition-duration both ease; }
  .mainview.ng-leave { animation: slideOutRight @page-transition-duration both ease; }
}
body.transitionFromaccounts.transitionToaccountdetail {
  .mainview.ng-leave { animation: slideOutLeftPartial @page-transition-duration both ease; }
  .mainview.ng-enter { animation: slideInRightStacked @page-transition-duration both ease; }
}



body.transitionFromsettings {
  .mainview.ng-leave { animation: slideOutRight @page-transition-duration both ease; }
  .mainview.ng-enter { animation: slideInLeftPartial @page-transition-duration both ease; }
}

body.transitionTosettings {
  .mainview.ng-enter { animation: slideInRight @page-transition-duration both ease; }
  .mainview.ng-leave { animation: slideOutLeftPartial @page-transition-duration both ease; }
}





body.transitionTologin {
  .mainview.ng-enter { animation: scaleUp @page-transition-duration-long both ease; }
  .mainview.ng-leave { animation: slideOutDown @page-transition-duration both ease; }
}

body.transitionFromlogin.transitionToquickaccess {
  .mainview.ng-leave { animation: scaleDown @page-transition-duration-long both ease; }
  .mainview.ng-enter { animation: slideInUpSlow @page-transition-duration-long both ease; .transform(translateY(100%)); }
}



body.transitionFromquickaccess.transitionTologin {
  .mainview.ng-leave { animation: slideOutDown @page-transition-duration both ease; }
  .mainview.ng-enter { animation: scaleUpSlow @page-transition-duration-long both ease; }
}

body.transitionFromquickaccess:not(.transitionTologin) {
  .mainview.ng-leave { animation: scaleDown @page-transition-duration both ease; }
  .mainview.ng-enter { animation: slideInUpSlow @page-transition-duration-long both ease; }
}



