
//@page-transition-duration: 500ms;
//@page-transition-duration: 20000ms;
//@page-transition-duration: 10000ms;
@page-transition-duration: 800ms;


.mainview {

  &.ng-enter-active {
//    .transform(translateX(100%) translateY(100%) translateZ(100px));
  }

}


body.transitionFromaccounts.transitionTomain {
  .mainview.MainCtrl.ng-enter-active { animation: slideInLeftPartial @page-transition-duration both ease; z-index: 8888; }
  .mainview.AccountsCtrl.ng-leave-active { animation: slideOutRight @page-transition-duration both ease; z-index: 9999; }
}
body.transitionToaccounts.transitionFrommain {
  .mainview.MainCtrl.ng-leave-active { animation: slideOutLeftPartial @page-transition-duration both ease; z-index: 8888; }
  .mainview.AccountsCtrl.ng-enter-active { animation: slideInRightStacked @page-transition-duration both ease; z-index: 9999; }
}

body.transitionToaccounts.transitionFromaccountdetail {
  .mainview.AccountsCtrl.ng-enter-active { animation: slideInLeftPartial @page-transition-duration both ease; z-index: 8888; }
  .mainview.AccountdetailCtrl.ng-leave-active { animation: slideOutRight @page-transition-duration both ease; z-index: 9999; }
}
body.transitionFromaccounts.transitionToaccountdetail {
  .mainview.AccountsCtrl.ng-leave-active { animation: slideOutLeftPartial @page-transition-duration both ease; z-index: 8888; }
  .mainview.AccountdetailCtrl.ng-enter-active { animation: slideInRightStacked @page-transition-duration both ease; z-index: 9999; }
}



body.transitionFromsettings {

  .mainview.SettingsCtrl.ng-leave-active { animation: slideOutDown @page-transition-duration both ease; z-index: 9999; }
  .mainview.ng-enter-active { animation: scaleUp @page-transition-duration both ease; z-index: 8888; }

}

body.transitionTosettings {
  .mainview.ng-enter-active { animation: slideInUp @page-transition-duration both ease; z-index: 9999; }
  .mainview.ng-leave-active { animation: scaleDown @page-transition-duration both ease; z-index: 8888; }
}




body.transitionTologin {
  .mainview.LoginCtrl.ng-enter-active { animation: scaleUp @page-transition-duration both ease; z-index: 8888; }
  .mainview.ng-leave-active { animation: slideOutDown @page-transition-duration both ease; z-index: 9999; }
}

body.transitionFromlogin {
  .mainview.LoginCtrl.ng-leave-active { animation: scaleDown @page-transition-duration both ease; z-index: 8888; }
  .mainview.ng-enter-active { animation: slideInUp @page-transition-duration both ease; z-index: 9999; }
}



body.transitionFromquickaccess.transitionTologin {
  .mainview.QuickaccessCtrl.ng-leave-active { animation: slideOutDown @page-transition-duration both ease; z-index: 9999; }
  .mainview.LoginCtrl.ng-enter-active { animation: scaleUp @page-transition-duration both ease; z-index: 8888; }
}
body.transitionFromquickaccess {
  .mainview.QuickaccessCtrl.ng-leave-active { animation: scaleDown @page-transition-duration both ease; z-index: 8888; }
  .mainview.ng-enter-active { animation: slideInUp @page-transition-duration both ease; z-index: 9999; }
}



