

//@page-transition-duration: 1000ms;
//@page-transition-duration: 500ms;
//@page-transition-duration: 20000ms;
@page-transition-duration: 700ms;

@front-z: 9999;
@back-z: 8888;

//TODO stagger animations - for view to delay loa


.mainview {
//  .transition(transform @page-transition-duration ease opacity @page-transition-duration ease);
  .transition(all @page-transition-duration ease);
}


body.transitionFromaccountdetail.transitionTomain {
  .mainview.MainCtrl { z-index: @back-z; }
  .mainview.MainCtrl.ng-enter { animation: slideInLeftPartial @page-transition-duration both ease; }
  .mainview.AccountdetailCtrl { z-index: @front-z; }
  .mainview.AccountdetailCtrl.ng-leave { animation: slideOutRight @page-transition-duration both ease; }
}

body.transitionFromaccounts.transitionTomain {
  .mainview.MainCtrl { z-index: @back-z; }
  .mainview.MainCtrl.ng-enter { animation: slideInLeftPartial @page-transition-duration both ease; }
  .mainview.AccountsCtrl { z-index: @front-z; }
  .mainview.AccountsCtrl.ng-leave { animation: slideOutRight @page-transition-duration both ease; }
}
body.transitionToaccounts.transitionFrommain {
  .mainview.MainCtrl { z-index: @back-z; }
  .mainview.MainCtrl.ng-leave { animation: slideOutLeftPartial @page-transition-duration both ease; }
  .mainview.AccountsCtrl { z-index: @front-z; }
  .mainview.AccountsCtrl.ng-enter { animation: slideInRightStacked @page-transition-duration both ease; }
}

body.transitionToaccounts.transitionFromaccountdetail {
  .mainview.AccountsCtrl { z-index: @back-z; }
  .mainview.AccountsCtrl.ng-enter { animation: slideInLeftPartial @page-transition-duration both ease; }
  .mainview.AccountdetailCtrl { z-index: @front-z; }
  .mainview.AccountdetailCtrl.ng-leave { animation: slideOutRight @page-transition-duration both ease; }
}
body.transitionFromaccounts.transitionToaccountdetail {
  .mainview.AccountsCtrl { z-index: @back-z; }
  .mainview.AccountsCtrl.ng-leave { animation: slideOutLeftPartial @page-transition-duration both ease; }
  .mainview.AccountdetailCtrl { z-index: @front-z; }
  .mainview.AccountdetailCtrl.ng-enter { animation: slideInRightStacked @page-transition-duration both ease; }
}



body.transitionFromsettings {

  .mainview.SettingsCtrl { z-index: @front-z; }
  .mainview.SettingsCtrl.ng-leave { animation: slideOutRight @page-transition-duration both ease; }
  .mainview { z-index: @back-z; }
  .mainview.ng-enter { animation: slideInLeftPartial @page-transition-duration both ease; }

}

body.transitionTosettings {
  .mainview.SettingsCtrl { z-index: @front-z; }
  .mainview.SettingsCtrl.ng-enter { animation: slideInRight @page-transition-duration both ease; }
  .mainview { z-index: @back-z; }
  .mainview.ng-leave { animation: slideOutLeftPartial @page-transition-duration both ease; }
}





body.transitionTologin {
  .mainview.LoginCtrl{ z-index: @back-z; }
  .mainview.LoginCtrl.ng-enter { animation: scaleUp @page-transition-duration both ease; }
  .mainview { z-index: @front-z; }
  .mainview.ng-leave { animation: slideOutDown @page-transition-duration both ease; }
}

body.transitionFromlogin {
  .mainview.LoginCtrl { z-index: @back-z; }
  .mainview.LoginCtrl.ng-leave { animation: scaleDown @page-transition-duration both ease; }
  .mainview { z-index: @front-z; }
  .mainview.ng-enter { animation: slideInUp @page-transition-duration both ease; }
}



body.transitionFromquickaccess.transitionTologin {

  .mainview.QuickaccessCtrl { z-index: @front-z; }
  .mainview.QuickaccessCtrl.ng-leave { animation: slideOutDown @page-transition-duration both ease; }
  .mainview.LoginCtrl { z-index: @back-z; }
  .mainview.LoginCtrl.ng-enter { animation: scaleUp @page-transition-duration both ease; }
}

body.transitionFromquickaccess:not(.transitionTologin) {
  .mainview.QuickaccessCtrl { z-index: @back-z; }
  .mainview.QuickaccessCtrl.ng-leave { animation: scaleDown @page-transition-duration both ease; }
  .mainview { z-index: @front-z; }
  .mainview.ng-enter { animation: slideInUp @page-transition-duration both ease; }
}



