


@light-text: #ddd;

@danger-text: rgb(244,67,54);


@button-dark: #333;



@box-shadow: rgba(0, 0, 0, 0.258824) 0px 2px 5px 0px;



@body-background-color: #111;



@nav-background-color: #333;
@nav-color: #ccc;


